.login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
   
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10rem;
    height: 250%;
}

.login h2 {

    font-size: 1.5rem;
}

.login label {
     
    font-size: 1.1rem;

}